@import url(./reset.css);

.container {
    max-width: 1310px;
    margin: 0 auto;
    padding: 0 15px;
}

.none {
    display: none;
}

@font-face {
    font-family: 'Effra';
    src: local('Effra Heavy'), local('Effra-Heavy'),
        url('Effra-Heavy.woff2') format('woff2'),
        url('Effra-Heavy.woff') format('woff'),
        url('Effra-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
  }


  body {
    font-family: 'Effra', sans-serif;
    color: #ffff;
    font-size: 18px;
  }

  /* font-family: "Inter", sans-serif; */
  /* font-family: "Roboto", sans-serif; */