.switch {
    display: inline-block;
    position: relative;
    width: 104px;
    height: 52px;
    /* background-color: #ffff; */
}

.switch__input {
    height: 0;
    width: 0;
    opacity: 0;
}

.switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 99px;
    background-color: #fff;
transition: 0.4s;
}

.switch-slider::before {
    content: "";
    position: absolute;
    cursor: pointer;
    left: 7px;
    bottom: 7px;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    transition: 0.4s;
    background-color: #A8FF35;
}

.switch__input:focus + .switch-slider {
box-shadow: 0 0 1px #98e730;
}

.switch__input:checked + .switch-slider {
background-color: #e7e5e5;
}

.switch__input:checked + .switch-slider::before {
    transform: translateX(54px);
}



.deal {
    padding: 140px 0;
    background-color: #000000;
}

.deal-content {
    text-align: center;
    align-items: center;
    justify-content: center;
    }

    .deal-title {
        font-size: 64px;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .deal-btn {
        position: relative;
        display: flex;
        margin-bottom: 40px;
        column-gap: 24px;
        align-items: center;
        text-align: center;
        justify-content: center;
    }

    .month {
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 500;
    }

    .Year {
        
        color: rgba(255, 255, 255, 0.5);
        font-family: "Inter", sans-serif;
        font-size: 24px;
        font-weight: 500;
    }

    .Year::before {
        content: "";
        position: absolute;
         width: 88px;
         height: 66px;
         background-image: url(../../img/deal-img.png);
         top: 0;
         right: 387px;
    }

    .deal-cards {
        display: flex;
        column-gap: 40px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 77px;
    }

    .deal-card {
        padding: 32px 32px 24px 32px;
        background-color: #FAFAFA;
        border-radius: 16px;
    }

    .green {
        background-color: #A8FF35;
    }

    .deal-head {
        position: relative;
        margin-bottom: 64px;
        text-align: left;
    }

    .deal-head::after {
        content: "";
        position: absolute;
        width: 296px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        left: 0;
        top: 86px;
    }

    

    .deal-card-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 100%;
        color: black;
        margin-bottom: 8px;
    }

    .card-subtitle {
        color: #000;
        font-size: 18px;
        line-height: 100%;
    }

    .deal-card-content {
        display: flex;
        flex-direction: column;
        text-align: left;
        height: 368px;
        color: #000;
    }

    .deal-card-price {
        font-size: 18px;
        line-height: 100%;
        color: black;
        margin-bottom: 32px;
}

.deal-card-price span {
    font-weight: 500;
    font-size: 64px;
}

.deal-card-list {
    display: flex;
    flex-direction: column;
    row-gap: 24px;
}

.deal-card-list li {
    display: flex;
    column-gap: 8px;
    text-align: center;
}

.deal-card-list-text {
    line-height: 100%;
}

.deal-card-start button {
    padding: 16px 88px;
    background-color: #A8FF35;
    border-radius: 29px;
    font-weight: 900;
    line-height: 140%;
    color: black;
    transition: 0.4s;
}

.deal-card-start button:hover {
    box-shadow: 0 0 5px #49790a;
}

.deal-btn-green button {
    background-color: #000;
    color: #ffff;
}

.deal-btn-green button:hover {
    box-shadow: 0 0 5px #0f1a01;
}



@media(max-width:1280px) {
    .deal-cards {
        column-gap: 114px;
    }

    .Year::before {
        right: 337px;
    }
}

@media(max-width:1140px) {
    .Year::before {
        right: 259px;
    }
}

@media(max-width:1035px) {
    .Year::before {
        right: 200px;
    }
}

@media(max-width:915px) {
    .Year::before {
        right: 153px;
    }
}

@media(max-width:815px) {
    .Year {
        font-size: 22px;
    }

    .month {
        font-size: 22px;
    }
    .Year::before {
        right: 94px;
    }
    .deal-title {
        font-size: 50px;
        margin-bottom: 35px;
    }
}


@media(max-width:675px) {
    .deal-title {
        font-size: 36px;
        margin-bottom: 32px;
        font-weight: 900;
    }
    .Year {
        font-size: 18px;
    }

    .month {
        font-size: 18px;
    }
    .switch {
        height: 44px;
    }
    .switch-slider::before {
        height: 28px;
        width: 28px;
    }

    .deal-btn {
        margin-bottom: 80px;
    }

    .Year::before {
        background-image: unset
    }

    .Year::after {
        content: "";
        background-image: url(../../img/deal-arrow-mobile.png);
        width: 63px;
        height: 66px;
        position: absolute;
        top: 53px;
        right: 165px;
    }

    .deal-card-title {
        font-size: 32px;
        margin-bottom: 14px;
    }

    .card-subtitle {
        font-size: 18px;
    }
    .deal-card-price {
        font-size: 18px;
    }
    .deal-card-price span {
        font-size: 60px;
    }

    .deal-card-list-text {
        font-size: 18px;
    }
    .deal-card {
        padding: 30px 30px 22px 30px;
        background-color: #FAFAFA;
    }

    .deal-card-start button {
        padding: 14px 79px;
        font-size: 16px;
        white-space: nowrap;
    }
}